html {
    background-image: url("https://images.unsplash.com/photo-1500491460312-c32fc2dbc751?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
    background-position: center;
    background-size: auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #6EA7B8;
}

@media (hover: none) {

    html {
        background-attachment: initial;
        background-repeat: repeat;
    }
}

body {
    background: transparent;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: lighter;

}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

img {
    max-width: 100%;
    height: auto;
    width: auto\9;
    /* ie8 */
    background: transparent;
}




header {
    width: 100%;
    height: 10vh;

}



.container {
    text-align: center;

    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.Lobster {
    font-family: 'Lobster', cursive;
}

.My-Soul {
    font-family: 'My Soul', cursive;
}

.inline {
    display: inline;
}